<!-- <mat-toolbar class="mat-elevation-z5" color="primary" >
  <mat-toolbar-row >
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sideNavWith()">
    <app-side-bar></app-side-bar>
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sideNavWith()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<app-header></app-header>
<router-outlet></router-outlet>