<!-- <mat-toolbar [style.color]="'white'" [style.background]="'#004c8f'" *ngIf="activeRoute">

  <button mat-icon-button class="menu" aria-label="Menu" (click)="menu();">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="header-spacer"> </span>
  <span class="header-spacer">

    <h1 class="display-10">Centralized TCS System</h1>
  </span>
  <div class="user-details d-flex align-items-center">

    <div class="d-flex flex-column mt-2">
      <h4>R26411</h4>

    </div>
    <button mat-icon-button class="logout" aria-label="Logout" (click)="logout();">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</mat-toolbar> -->

