<div class="justify-center">
    <!-- <img src="assets/images/ritesh.svg" routerLink="/dashboard" class="login-background" alt="BankLocker Logo"> -->
    <div class="nav-links">
        <div class="left-column">
            <a routerLink="/login" class="btn btn-primary">Go to Login</a>
            <a routerLink="/user-access" class="btn btn-secondary">User Access Page</a>
        </div>
        <div class="right-column">
            <img src="assets/images/ritesh.svg" routerLink="/dashboard" class="login-background" alt="BankLocker Logo">
        </div>
    </div>
</div>


<!-- <div class="image-container">
    <img src="assets/images/ritesh.svg" class="half-image left-image" alt="Ritesh">
    <img src="assets/images/ram.svg" class="half-image right-image" alt="Ram">
</div>

<div class="nav-links">
    <a routerLink="/login" class="btn btn-primary">Go to Login</a>
    <a routerLink="/user-access" class="btn btn-secondary">User Access Page</a>
</div> -->
