<div class="container-fluid full-height mt-2">
    <div class="row full-height">
        <!-- Left Column - Search & Login Options -->
        <div class="col-md-6 left-column d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-dark text-center title-heading">Find a Secure Locker in Your Branch</h2>
            <p class="text-muted text-center description">
                Quickly check locker availability at your preferred branch and ensure the safety of your valuables.
            </p>
            <a routerLink="/user-access" class="btn btn-primary btn-lg w-50 mb-4">Check Locker Availability</a>
            <a routerLink="/login" class="btn btn-secondary btn-lg w-50" title="Only for branch user">Branch Login</a>
        </div>

        <!-- Right Column - Background Image -->
        <div class="col-md-6 right-column"></div>
    </div>
</div>
